<template name="map">
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img alt="Brand" src="...">
        </a>
      </div>
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="#">Products</a></li>
        <li role="presentation"><a href="#">Our Partners</a></li>
        <li role="presentation"><a href="#">Placeholder</a></li>
        <li role="presentation"><a href="#">Placeholder</a></li>
      </ul>
    </div>
  </nav>
</template>
